@model CreateVM
@{
    ViewBag.Title = "Add new exercise";
}
<form asp-controller="exercises" asp-action="create">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name" style="color:red;"></span>

    <label asp-for="Sets"></label>
    <input asp-for="Sets" />
    <span asp-validation-for="Sets" style="color:red;"></span>

    <label asp-for="Reps"></label>
    <input asp-for="Reps" />
    <span asp-validation-for="Reps" style="color:red;"></span>

    <input type="submit"/>
</form>
<a asp-controller="exercises" asp-action="index">Go back</a>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js" 
        asp-fallback-src="~/scripts/jquery/jquery.min.js"
        asp-fallback-test="window.jQuery"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js" 
        asp-fallback-src="~/scripts/jquery-validate/jquery.validate.min.js"
        asp-fallback-test="$.validator"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js" 
        asp-fallback-src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
        asp-fallback-test="$.validator.unobtrusive"></script>
}