@model DetailsVM
@{
    ViewBag.Title = @Model.Name;
}
<ol style="list-style-type:none;">
    <li>Sets: @Model.Sets</li>
    <li>Reps: @Model.Reps</li>
</ol>
<a asp-controller="exercises" asp-action="index">Go back</a>
