@model IndexVM
@{
    ViewBag.Title = "Exercises";
}
<ol style="list-style-type:none;">
    @foreach(var exercise in Model.Exercises)
    {
        <li><a asp-controller="exercises" asp-action="details" asp-route-id="@exercise.Id">@exercise.Name</a></li>
    }
</ol>
<a asp-controller="exercises" asp-action="create">New exercise</a>
